/*Importando fonts de google*/
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');
/*la llamda a esta fuente es: font-family: 'Caveat Brush', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Acme');
/*la lladad a esta fuente es: font-family: 'Acme', sans-serif;*/
/*Resetear página*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*html, body{
  height: 100%;*/
}
/*Css para la animación*/
.oculdo{opacity: 0;}
.visible{opacity: 1;}
/*Css del fondo de la portada*/
.portada{
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: initial;
  top:0;
  left: 0;
  z-index: -100;
  background-image: url(../img/puzzle.jpg);
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
/* css para el boton de enpezar*/
#button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(113, 119, 115);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: 'Caveat Brush', cursive;
}
#button:hover {
  background-color: rgb(245, 222, 12);
  color: #000;
}
#button:active {
  background-color: rgb(242, 213, 21);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#button animated {animation-delay: 3s;}
/*css del contenidor (logo) de la imagen y texto*/
#logo_portada {
  width: 75%;
  height: 50%;
  margin: auto;
  text-align: center 5o%;
  align-items: baseline;
  display: flex;
  justify-content: center;
}
#logo_portada img{
  margin: 10px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
}
p {
  float: right;
  font-family: 'Caveat Brush', cursive;
  font-size: 2em;
  color: #000;
}
p span{
  font-family: 'Acme', sans-serif;
  font-size: 3em;
  text-shadow: 3px 3px #fff;
}
/* Css del menu lateral de la página */
nav {
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: #000;
  color: #fff;
}
.logo {
  width: 90%;
  height: 225px;
  margin: 20px auto;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 2px solid #fff;
}
.logo img{
  width: 100px;
  height: 100px;
  margin: 20px auto;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
}
.logo p, .logo p span {
  margin:0 auto;
  color: #fff;
  text-shadow: none;
}
.logo p {
  font-size: 1em;
  margin-bottom: 20px;
}
.logo p span {font-size: 2em;}
.menu {
  width: 90%;
  margin: 10px auto;
  padding: 0 20px 0 20px;
}
/*Css del boton de selecio del menu*/
.botones {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  display: block;
}
#home, #work {
  width: 47%;
  text-align: center;
  padding-right: 5px;
}
#home {float: left;}
#work {float: right;}
/*Css del div menu seleccion*/
.menu_seleccion {
  width: 100%;
  height: 200px;
  text-align: center;
}
/*Css del menu de home*/
.menu_home, .menu_work {
  margin-top: 10px;
  height: 200px;}
.menu_home a{
  display: block;
  text-align: left;
  text-decoration: none;
  color: #fff;
}
